{% extends 'mobile/base.html' %}

{% block title %}
Все о Мегафоне
{% endblock  %}

{% block content %}
<div class="container">
<h1>О нас</h1>
<br>
   <p> МегаФон — национальный российский оператор цифровых возможностей, занимающий лидирующие позиции на телекоммуникационном рынке в России и мире.
       Мы объединяем все направления ИТ и телекоммуникаций: услуги мобильной и фиксированной связи, мобильного и широкополосного доступа в интернет, цифрового телевидения и OTT видеоконтента, инновационных цифровых продуктов и сервисов в сфере ИКТ, интернета вещей, аналитики и обработки больших данных, облачных решений, кибербезопасности, финансовых сервисов, цифровой рекламы и маркетинга, электронной коммерции, а также конвергентных ИТ-решений в сфере системной интеграции.
       Компания и её дочерние предприятия оказывают услуги во всех регионах России, в республиках Абхазия, Южная Осетия и Таджикистан.
       По итогам 2020 года абонентская база в России насчитывала 70,4 миллионов человек.</p>
   <p> В июне 2019 года МегаФон завершил выкуп собственных акций у миноритариев.
       Этому в июле 2018 года предшествовало стратегическое решение Совета директоров о том, что сохранение статуса публичной компании больше не является приоритетной задачей для МегаФона, после чего была одобрена программа приобретения обыкновенных акций и глобальных депозитарных расписок (ГДР).
       После завершения программы приобретения бумаг Компания провела делистинг ГДР на Лондонской фондовой бирже.
       ГДР на Лондонской площадке не торгуются с октября 2018 года, а в июне 2019 года акции МегаФона перестали торговаться и на Московской бирже.</p>
</div>
{% endblock  %}
